#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  background-color: #0b0a08;
  color: white;
}

.card {
  padding: 2em;
}

button {
  background-color: white;
  color: black;
}